.borderGreen {
    border: 2px solid green;
}

.borderRed {
    border: 2px solid red;
}

.section1 {
    width: 90%;
    margin: auto;
}

.section1 h1 {
    color: var(--orange);
    font-weight: 600;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.section1 p {
    color: var(--blue);
    padding-bottom: 4rem;
}

.section2 {
    width: 90%;
    margin: auto;
}

.section2 .container {
    background-color: var(--lightYellow);
    position: relative;
}

.container img {
    position: absolute;
    right: 20px;
    top: 100px;

}

.container label {
    color: var(--green);
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

.container label span {
    color: var(--orange);
}

form {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;

}

form div {
    width: 100%;

}

form input {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 50%;
    height: 10vh;
    border-radius: 20px;
    padding-left: 10px;
}

textarea {
    border-radius: 0 20 20 20 20px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

#buttonSubmit {
    width: 30%;
    background-color: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;

}