body {

    --blue: #140A82;
    --yellow: 246, 203, 64;
    --lightYellow: rgba(var(--yellow), 0.3);
    --green: #24A640;
    --orange: #FF5E1A;
    --indigo: #00B0CC;
    --white: #FFF;
    --black: #000;


    font-size: 1em;
    font-family: 'Inter', sans-serif;
}

a:hover {
    font-weight: 900;
}


* {
    margin: 0;
    padding: 0;

}

/* Header */
header {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 30%;
    display: flex;
    justify-content: center;
}

.header img {
    width: 60%;
    height: 100%;
}

header nav {
    width: 70%;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

nav ul li {

    list-style-type: none;
    color: var(--blue);
}

nav ul li a {
    text-decoration: none;

}

/*Footer*/

#footer {
    background-color: var(--indigo);
    display: flex;
    border-radius: 20px 20px 0px 0px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footerLogo {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 30%;
    display: flex;
    justify-content: center;
}

.footerLogo img {
    width: 60%;

}

.adresseFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    width: 25%;
}

.adresseFooter li {
    list-style-type: none;
    font-weight: 600;
}

.footerContact {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContact li {
    color: var(--white);
    list-style-type: none;
    font-weight: 600;
    gap: 5%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.footerContact img {
    padding-right: 5px;
}

.logoCnfs {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.logoCnfs img {
    width: 100%;
}