#barreHeader {
    background-color: var(--misterCafe);
    height: 5%;
}
#barreHeader p {
opacity: 0;
}

h2{
    font-size: 1.7rem;
    color: var(--moka);
    padding-left: 8%;
    margin-top: 0;
}

.contact{
    display: flex;
    padding-top: 1em;
}

@media(max-width : 450px){
    .contact{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.adresse{
    width: 40%;
    
}
.adresse p{
    padding-left: 3%;
}

form{
    width: 60%;
    background-color: var(--caramel);
    margin-left: 5px;
    height: 100%;
}
.boite{
    display: flex;
    padding: 0.5em;
    flex-direction: column;
   
}
.boite label{
    width: 25%;
}
.boite input{
    width: 100%;
    box-shadow: 1px;
    padding: 0.8em;
    outline: none;
    border-radius: 5px;

}
.boite textarea{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 50%;
}
.boutons{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;

}

button{
    background-color: var(--moka);
    color: var(--bgwhite);
    border-radius: 1em;
    padding: 1em;
    font-size: 1rem;
}

.catcha{
    padding: 1em;
}
.catcha .checkbox label{
    padding-right: 0.5em;
}