footer{
    background-color: #191919;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .para{
    color: var(--white);
    text-align: center;
    margin-bottom: 1.75em;
}

footer p{
    color: var(--white);
    text-align: center;
    padding: 0%;
}